<% provide(:title, "Edit User") %>

<h1>Update your profile</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :user, url: user_path, method: "PUT" do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control" %>
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>

        <%= f.label :bio %>
        <%= f.text_area :bio, class: "form-control" %>

        <%= f.label :image_url %>
        <%= f.text_field :image_url, class: "form-control" %>

        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>


        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>


        <%= f.submit "Save Changes", class: "btn btn-primary" %>

    <% end %>

  </div>

</div>