<h1>Are you ready to throw down...bro?</h1>

<%= form_for :user, url: users_path, method: "post" do |f| %>
  <%= f.text_field :username, placeholder:"username" %>
  <%= f.text_field :email, placeholder:"email" %>
  <%= f.password_field :password, placeholder: "password" %>
  <%= f.text_field :bio, placeholder: "bio" %>
  <%= f.text_field :image_url, placeholder: "image" %>

  <%= f.submit "Become new user, bro" %>
<% end %>

<% link_to "home, bro", root_path %>
