<%= render partial: "user", locals: {user: @user} %>

<ul>
<% @user.skills.each do |skill| %>
  <li><%= skill.style.name %></li>
<% end %>
</ul>


<% if logged_in? && current_user.id != @user.id && current_user.challenged.include?(@user) == false %>
  <%= form_for(current_user.active_relationships.build) do |f| %>
  <div><%= hidden_field_tag :username, @user.username %></div>
  <%= f.submit "Challenge", class: "btn btn-primary" %>

  <% end %>

<% end %>

<% if logged_in? && current_user.id != @user.id && current_user.challenged.include?(@user) == true %>
    <%= form_for(current_user.active_relationships.find_by(challenged_id: @user.id),
               html: { method: :delete }) do |f| %>
    <%= f.submit "Rescind Challenge", class: "btn btn-primary" %>

  <% end %>
<% end %>

<h5>Challengers</h1>
<% @challengers.each do |challenger| %>
  <p>
    <%= link_to(challenger.challenger.username, user_path(challenger.challenger)) %>
  </p>

<% end %>


<h5>Challenged Fighters</h1>
<% @challenged.each do |challenged| %>
  <p>
    <%= link_to(challenged.challenged.username, user_path(challenged.challenged)) %>
  </p>

<% end %>

<% if logged_in? && current_user.id == @user.id %>
  <%= link_to 'Edit Profile',edit_user_path, class: "btn btn-primary" %>

<% end %>


